/*RESET*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}


/*CONTENT*/

body {
    width: 80%;
    height: auto;
    margin: auto;
    position: relative;
}

header {
    /*background-image: -webkit-linear-gradient(#808080, #00ffbf);*/
    background-image: url(http://wallpapercave.com/wp/1rY39i5.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 200px;
    top: 50px;
    position: relative;
    width: 100%;
}

#search_restaurant {
    text-align: center;
}

h1 {
    color: #FFFFFF;
    font-family: 'Amatic SC', cursive;
    font-size: 45px;
    line-height: 60px;
    padding: 50px 10px;
    text-align: center;
}

h2 {
    color: #46c6f3;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    padding-top: 5px;
}

h3 {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 200;
    padding-left: 10px;
}

#menu {
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 999;
}

#menu li {
    color: #14213D;
    display: inline-block;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 16px 20px;
    /*text-transform: uppercase;*/
}

section {
    background-image: -webkit-linear-gradient(#F8F8F8, #E0E0E0);
    padding-top: 50px;
    width: 100%;
}


/* ------------------- RESTAURANT'S ------------------- */

#restaurant {
    padding-top: 20px;
    padding-bottom: 2.5px;
    overflow: hidden;
}

#restaurant h3 {
    padding-bottom: 10px;
    font-size: 25px;
}

#restaurant ul {
    padding-right: 10px;
}

#restaurant ul li {
    padding: 2px 0;
}

#restaurant ul span {
    font-size: 17px;
    font-weight: bold;
}

#restaurant img {
    float: left;
    padding-right: 10px;
    display: block;
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
}


/* ---------- COMENTARIOS RESTAURANTE ---------- */

#adicionarReview {
    padding-bottom: 10px;
}

#adicionarReview legend, #allReviews legend {
    margin-left: auto;
    margin-right: auto;
}

#adicionarReview .rating {
    padding-bottom: 2px;
    text-align: center;
}

#adicionarReview textarea, #adicionarReview button, #allReviews textarea, #allReviews button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#adicionarReview button {
    margin-top: 2px;
    margin-bottom: 2px;
}

#allReviews fieldset {
    margin-top: 20px;
}

#toBold {
    font-size: 15px;
    font-weight: bold;
}

#oneReview {
    background-image: -webkit-linear-gradient(#F8F8F8, #DCDCDC);
}

#allReviews .comment {
    margin-top: 2px;
    margin-bottom: 10px;
}

hr.toHr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.toAllComments {
    margin-left: 10px;
    margin-right: 10px;
}

#allComments {
    padding-top: 5px;
    padding-bottom: 5px;
}

#adicionarComentario {
    padding-top: 5px;
    padding-bottom: 5px;
}


/* ---------- FOOT  ---------- */

#footRestaurant {
    padding: 12px 0;
    text-align: center;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transition: all 200ms ease-out;
}

#footRestaurant:hover {
    box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}

#footRestaurant a {
    font-family: 'Abel', sans-serif;
    font-size: 22px;
    color: #46c6f3;
    text-shadow: 1px 1px 1px #46c6f3;
}


/* ------------------- Commun pages ------------------- */

#login, #register, #add_restr, #artic_view_user, #artic_edit_user {
    padding: 20px 0;
    text-align: center;
}

#login span, #register span, #add_restr span, #artic_view_user span, #artic_edit_user span {
    font-size: 17px;
    font-weight: bold;
}

#login li, #register li, #add_restr li, #artic_view_user li, #artic_edit_user li {
    padding: 3px 0;
}

#login button, #register button, #add_restr button, #artic_view_user button, #artic_edit_user button {
    margin-top: 20px;
}


/* ------------------- Restaurant rating ------------------- */

.rating label {
    cursor: pointer; // aparecer o cursor em cima da estrela
}

.rating label input, .average_rating label input {
    display: none; // esconder o input radio
}

label span.starOn {
    color: gold;
}


}
