/*RESET*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}


/*CONTENT*/

body {
    width: 80%;
    height: auto;
    margin: auto;
    position: relative;
}

header {
    /*background-image: -webkit-linear-gradient(#808080, #00ffbf);*/
    background-image: url(http://wallpapercave.com/wp/1rY39i5.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 170px;
    top: 50px;
    position: relative;
    width: 100%;
}

h1 {
    color: #FFFFFF;
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    line-height: 60px;
    padding: 50px 10px;
    text-align: center;
}

h2 {
    color: #46c6f3;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    padding-top: 5px;
}

h3 {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 200;
    padding-left: 10px;
}

#menu {
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 999;
}

#menu li {
    color: #14213D;
    display: inline-block;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 16px 20px;
    text-transform: uppercase;
}

section {
    background-image: -webkit-linear-gradient(#F8F8F8, #E0E0E0);
    padding-top: 50px;
    width: 100%;
}


/* ------------------- RESTAURANT'S ------------------- */

#restaurant {
    padding-top: 20px;
    padding-bottom: 2.5px;
    overflow: hidden;
}

#restaurant h3 {
    padding-bottom: 10px;
    font-size: 25px;
}

#restaurant ul {
    padding-right: 10px;
}

#restaurant ul li {
    padding: 2px 0;
}

#restaurant ul span {
    font-size: 17px;
    font-weight: bold;
}

#restaurant img {
    float: left;
    padding-right: 10px;
    display: block;
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
}

#footRestaurant {
    padding: 12px 0;
    text-align: center;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transition: all 200ms ease-out;
}

#footRestaurant:hover {
    box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}

#footRestaurant a {
    font-family: 'Abel', sans-serif;
    font-size: 22px;
    color: #46c6f3;
    text-shadow: 1px 1px 1px #46c6f3;
}


/* ------------------- LOGIN & REGISTER------------------- */

#login, #register {
    padding: 20px 0;
    text-align: center;
}

#login span, #register span {
    font-size: 17px;
    font-weight: bold;
}

#login li, #register li {
    padding: 3px 0;
}

#login button, #register button {
    margin-top: 20px;
}